@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    PWSZ.NYSA.PL
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dziekanat.pwsz.nysa.pl">dziekanat.pwsz.nysa.pl</a><br />
    <strong>Marketing:</strong> <a href="mailto:dziekanat.pwsz.nysa.pl">dziekanat.pwsz.nysa.pl</a>
</address>